$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.wrapper-header {

  .navbar-default {
    background-color: white;
    border: none;
  }

  .tabs-nav {
    .nav-tabs > li > a:hover {
      background-color: white;
      color: black;
      border: none;
    }
    a {
      color: #C1C1C1;
    }
  }
}