$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.wrapper-header {

  .navbar-default {
    background-color: white;
    border: none;
  }

  .tabs-nav {
    .nav-tabs > li > a:hover {
      background-color: white;
      color: black;
      border: none;
    }
    a {
      color: #C1C1C1;
    }
  }
}
body{
  background-color: #E3E3E3;
}
.tab-stickers {

    margin-top: 30px;

    .shadow{
      box-shadow: 2px 2px 2px 2px #656060;
      padding: 0;
      background-color: #FFFFFF;
    
      .sticker{
        width: 100%;
        border-bottom: 2px solid #D8D8D8;  
      } 
    }

    .gray{
      color:#c7c7c7;
      padding-left: 15px;
    }

    .name{
      font-size: 16px;
      font-style: bold;
      padding-top: 15px;
      padding-left: 15px;

    } 
      
    .pay{
      background-image: url('../images/elementos/spritePayPal.png'); 
      background-repeat: no-repeat;
      position: relative;
      width: 23px;
      height: 30px;
      right: 20px;
      top: 20px;
    }

    .mg{
      margin-top: 2%;
    }
  
  .efecto:hover {
    background-color: #39a224;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;  

    .name {
      color: white
    }

    .pay {
      background-position: right top;
    }
  }  
}