$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

.wrapper-header {
  margin-top: 15px;

  form > div > input {
    background-color: #EDEEF0;
    border: none;
  }

  form > div > span > button {
    background-color: #EDEEF0;
    border: none;
  }

  .navbar-default {
    background-color: white;
    border: none;
  }

  .tabs-nav {
    margin-left: 10%;

    .nav-tabs {
      border: none;
    }

    .nav-tabs > li > a:hover {
      background-color: white;
      font-weight: 300;
      color: black;
      font-size: 1.2em;
      border-bottom: 5px solid #FF9801;
      border-left: none;
      border-right: none;
      border-top: none;
    }

    .nav-tabs > li > a:active {
      border-bottom: 5px solid #FF9801;
      background-color: white;
    }

    .nav-tabs > li > a:visited {
      background-color: white;
    }

    a {
      font-size: 1.2em;
      font-weight: 300;
      color: #C1C1C1;
      margin-right: 50%;
    }
  }

  .fa-search {
    color: #AAAEB1;
    font-size: 1.4em;
  }

  .txt-contact {
    color: #646D6E;
    font-size: 1.1em;
    font-weight: 400;
  }

  .navbar-left {
    margin-left: 22%;
  }
}

.footer {
  background-color: #273238;

  footer {
    padding-top: 10px;
    position: relative;

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 35px;
      padding-bottom: 45px;

      .image-fb {
        background-image: url("../images/spriteRedes.png");
        background-repeat: no-repeat;
        width: 48px;
        height: 48px;
        display: block;
        margin-right: 50px;

        &:hover {
          background-image: url("../images/spriteRedes.png");
          background-repeat: no-repeat;
          background-position: 0px -55px;
          display: block;
        }
      }

      .image-tt {
        background-image: url("../images/spriteRedes.png");
        background-repeat: no-repeat;
        width: 48px;
        height: 48px;
        background-position: -106px 0px;
        display: block;

        &:hover {
          background-image: url("../images/spriteRedes.png");
          background-repeat: no-repeat;
          background-position: -106px -55px;
          display: block;
        }
      }
    }

    hr {
      width: 90%;
    }

    h5 {
      padding-top: 10px;
      padding-bottom: 40px;
      text-align: center;
      color: white;
      font-weight: 300;
    }
  }
}

/*clases para el header*/
body {
  background-color: #e3e3e3;  
}

.gray {
  color: gray;
}

.pad {
  padding:0 30px;
}

.header{
  box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.75);
  margin-top: 5%;
  background-color: white;
}

.descri {
  font-size: 18px;
  margin-top: 50px;
  color: gray;
  font-weight: bold;
}

.price {
  font-size: 65px;
  font-weight: bold;
  border-bottom: 2px solid #e3e3e3;
}

.cu {
  font-size: 40px;
}

.btncomprar {
  border-radius: 5px;
  padding:9px;
  border:none;
  background-color: orange;
  color: white;
  width:50%;
  font-weight: bold;
  box-shadow: 0px 3px 3px 0px rgba(148,148,148,1);
  
  .crop {
    display: inline-block;
    width: 13px;
    overflow: hidden;
    position: relative;
    vertical-align: baseline;
    margin-right: 5px;
    height: 13px;

    img {
    height:14px;
    position: absolute;
    right: 0;
    }
  }
}

.borde {
  padding:0;
}

.site-pagination {
  .pagination {
    & > li {
      & > a {
        background: none;
        border:none;
        color: gray;
      }
      & > a:hover {
        background-color: gray;
        color: white;
      }
    }
  }
}